<!DOCTYPE html>git
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Asseradero Brenes</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script src="./main.js" async></script>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="container mx-auto">
            <h1 class="text-center text-4xl font-normal leading-normal mt-0 mb-2 text-blueGray-900 md:text-6xl">{{ name }}</h1>
        </div>

        <div class="container mx-auto">
            <div class="bg-gray-300 flex justify-center">
                <nav class="tabs flex flex-col sm:flex-row">
                    <button data-target="panel-1" class="tab active text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500">
                        Tabla
                    </button>
                    <button data-target="panel-2" class="tab ext-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none">
                        Tuca
                    </button>
                </nav>
            </div>
        
            <div class="flex justify-center" id="panels">
                <div class="panel-1 tab-content py-5 space-y-4 active">
                    <p class="text-center">Calcular medidas y costo de tabla.</p>
                    <div class="mb-3 pt-0 text-center">
                        <input type="number" placeholder="Ancho (pulgadas)" v-model="anchoTabla" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required />
                        <input type="number" placeholder="Grueso (pulgadas)" v-model="gruesoTabla" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required />
                        <input type="number" placeholder="Largo (varas)" v-model="largoTabla" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required />
                        <input type="number" placeholder="Cantidad" v-model="cantTabla" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required /> 
                        <input type="number" placeholder="Precio" v-model="precioTabla" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required /> 
                    </div>
                    <div class="text-right">
                        <button v-on:click="reset" class="mr-8 bg-white w-1/4 border border-solid border-black-500 rounded">Limpiar</button>
                    </div>
                    <div class="container mx-auto">
                        <div class="text-center">
                            <p>La cantidad es: {{ resultTabla }}</p>
                            <p> Con un precio de ₡{{ calculateTabla }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-2 tab-content py-5 space-y-4"> 
                    <p class="text-center">Calcular medidas y costo de tuca.</p>
                    <div class="mb-3 pt-0 text-center">
                        <input type="number" placeholder="Ancho (pulgadas)" v-model="anchoTuca" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required />
                        <input type="number" placeholder="Largo (varas)" v-model="largoTuca" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required />
                        <input type="number" placeholder="Precio" v-model="precioTuca" class="my-3 px-3 py-2 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-1/2" required /> 
                    </div>
                    <div class="text-right">
                        <button v-on:click="reset" class="mr-8 bg-white w-1/4 border border-solid border-black-500 rounded">Limpiar</button>
                    </div>
                    <div class="container mx-auto">
                        <div class="text-center">
                            <p>La cantidad es: {{ resultTuca }}</p>
                            <p> Con un precio de ₡{{ calculateTuca }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>